* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(135deg, #5daaff, #2f6bff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 400px;
    background: white;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.title {
    font-size: 26px;
    margin-bottom: 15px;
}

.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.search-box input {
    flex: 1;
    padding: 12px;
    border: 1px solid #aaa;
    border-radius: 10px;
}

.search-box button {
    padding: 12px 15px;
    background: #176bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.or {
    margin: 10px 0;
    color: gray;
}

.location-btn {
    background: #0aa86e;
    color: white;
    padding: 12px;
    width: 100%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.weather-box img {
    width: 120px;
    animation: float 2s infinite ease-in-out;
}

@keyframes float {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.hidden {
    display: none;
}

#temperature {
    font-size: 30px;
    font-weight: bold;
}
